.home-heading{
    font-family: "Roboto";
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-top: 20px;
}

.home-bg{
    background-color: rgb(243, 234, 218);
    min-height: 100vh;
}